.form {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  gap: 0.5rem;
  margin-bottom: 4rem;
}

.searchField {
  width: 638px;
  height: 54px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 140%;
  padding: 1rem;
  background-color: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
}

.searchField:focus {
  outline: 1px solid var(--purple-dark);
  outline-offset: -1px;
}

.button[type="submit"] {
  background-color: var(--blue-dark);
  border: none;
  color: var(--gray-100);
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 54px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}

.button[type="submit"]:hover {
  background-color: var(--blue);
}
